[submodule "vendor/pocketsphinx"]
	path = vendor/pocketsphinx
	url = https://github.com/cmusphinx/pocketsphinx.git
[submodule "vendor/espeak-ng"]
	path = vendor/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng.git
